

<script>
    window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    const header = document.getElementById("header");
    const logo = document.getElementById("logo");
    const body1 = document.getElementById("body");

    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        header.classList.add("shrink");
        body1.classList.add('body1');
    } else {
        header.classList.remove("shrink");
        body1.classList.remove('body1');
    }
}
</script>
<footer class="footer" id="footer">
    <div class="footer-content">
        <p>Follow us on:
            <a href="https://twitter.com/yourcompany" target="_blank">Twitter</a> |
            <a href="https://facebook.com/yourcompany" target="_blank">Facebook</a> |
            <a href="https://instagram.com/yourcompany" target="_blank">Instagram</a>
        </p>
        <p>Contact us: <a href="mailto:info@yourcompany.com">info@yourcompany.com</a></p>
        <p>&copy; 2024 Your Company. All rights reserved.</p>
    </div>
    <a href="/logout" role="button"><i class="fi fi-br-power" style="color: red; font-size: larger;"></i></a>
</footer>
    
</body>
</html>
